modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "oneDNN", "openjpeg", "pkg-config", "re2", "tcl", "tk", "xsimd", "zlib"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80
